jupyter-collaboration==4.2.1
jupyterlab==4.5.6
notebook==7.5.5
jupyter-server-ydoc==2.2.1
jupyter-mcp-tools==0.1.6
ipykernel
datalayer_pycrdt==0.12.17
xgboost==2.1.4
mermaido==0.2.0
koreanize-matplotlib==0.1.1
